<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.friendsclub">
    <meta-data
        android:name="settings"
        android:value=".MainActivity" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FriendsClub">
        <activity android:name=".settings_profile"></activity>
        <activity android:name=".homepage" />
        <activity android:name=".testing_card_swipe" />
        <activity android:name=".recycler_view_testing" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".recycler_view_test" />
        <activity android:name=".add_photo_testActivity2" />
        <activity android:name=".profile_navigationActivity2" />
        <activity android:name=".chat_navigationActivity2" />
        <activity android:name=".live_navigationActivity2" />
        <activity android:name=".likes_navigationActivity" />
        <activity android:name=".Landing_navigationActivity" />
        <activity android:name=".Activity10addPhotos" />
        <activity android:name=".Activity9passion" />
        <activity android:name=".Activity8university" />
        <activity
            android:name=".Activity2profile"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity7show_me"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity6orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity5gender"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity4date"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity3name"
            android:launchMode="singleTask" />
        <activity android:name=".Activity2whats_your_email" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>